[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
#	url = https://github.com/martignoni/hugo-notice.git
	url = git@github.com:martignoni/hugo-notice.git
[submodule "themes/terminal"]
	path = themes/terminal
#	url = https://github.com/panr/hugo-theme-terminal.git
	url = git@github.com:panr/hugo-theme-terminal.git
[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "themes/Blonde"]
	path = themes/Blonde
	url = https://github.com/opera7133/Blonde
[submodule "themes/blogge"]
	path = themes/blogge
	url = https://github.com/StaticMania/blogge-hugo-theme.git
